flows.json
[{"id":"1b8e042d.9c8f6c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"63491e76.16b92","type":"ui_form","z":"1b8e042d.9c8f6c","name":"","label":"","group":"2f3a0665.46bd5a","order":1,"width":"0","height":"0","options":[{"label":"Query for news","value":"Input","type":"text","required":true,"rows":null}],"formValue":{"Input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":190,"y":180,"wires":[["3b99bd99.e08182"]]},{"id":"3b99bd99.e08182","type":"function","z":"1b8e042d.9c8f6c","name":"Query processing","func":"msg={\ndiscoveryparams:\n  {\n\"environment_id\":\"system\",\n\"query\":msg.payload.Input\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":240,"wires":[["8adf8da.191487"]]},{"id":"5fa4960f.888e68","type":"function","z":"1b8e042d.9c8f6c","name":"text","func":"msg.payload=msg.search_results.results[0].text\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":100,"wires":[["3bf056da.b636ba"]]},{"id":"8adf8da.191487","type":"watson-discovery-v1","z":"1b8e042d.9c8f6c","name":"Discovery usage","environmentname":"","environmentId":"system","collectionId":"news-en","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"term(enriched_text.sentiment.document.label,count:10)","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/d46cbead-4dd1-4a82-8370-f15b41b8ecc6","x":410,"y":320,"wires":[["5fa4960f.888e68","a340b2de.770a7","fd123896.430968","f7bda789.c862a8","c823fca.b8dd6","1572dc84.0a5423","9d4c7813.86c028"]]},{"id":"3bf056da.b636ba","type":"ui_text","z":"1b8e042d.9c8f6c","group":"2f3a0665.46bd5a","order":5,"width":"0","height":"0","name":"","label":"Search Output","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":120,"wires":[]},{"id":"f7bda789.c862a8","type":"function","z":"1b8e042d.9c8f6c","name":"url","func":"msg.payload=msg.search_results.results[0].url\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":300,"wires":[["332f40d4.9a2b"]]},{"id":"a340b2de.770a7","type":"function","z":"1b8e042d.9c8f6c","name":"author","func":"msg.payload=msg.search_results.results[0].author\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":160,"wires":[["583b807b.65df3"]]},{"id":"1572dc84.0a5423","type":"function","z":"1b8e042d.9c8f6c","name":"main page url","func":"msg.payload=msg.search_results.results[0].main_image_url\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":240,"wires":[["6892e807.a3a778"]]},{"id":"fd123896.430968","type":"function","z":"1b8e042d.9c8f6c","name":"score","func":"msg.payload=msg.search_results.results[0].enriched_text.sentiment.document.score\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":360,"wires":[["f9bfb192.33c39"]]},{"id":"c823fca.b8dd6","type":"function","z":"1b8e042d.9c8f6c","name":"label","func":"msg.payload=msg.search_results.results[0].enriched_text.sentiment.document.label\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":420,"wires":[["564bff50.60b5b"]]},{"id":"564bff50.60b5b","type":"ui_text","z":"1b8e042d.9c8f6c","group":"2f3a0665.46bd5a","order":7,"width":"0","height":"0","name":"","label":"Label :","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":400,"wires":[]},{"id":"332f40d4.9a2b","type":"ui_text","z":"1b8e042d.9c8f6c","group":"2f3a0665.46bd5a","order":4,"width":"6","height":"1","name":"","label":"URL :","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":280,"wires":[]},{"id":"583b807b.65df3","type":"ui_text","z":"1b8e042d.9c8f6c","group":"2f3a0665.46bd5a","order":2,"width":"0","height":"0","name":"","label":"Author of Article :","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":180,"wires":[]},{"id":"6892e807.a3a778","type":"ui_text","z":"1b8e042d.9c8f6c","group":"2f3a0665.46bd5a","order":3,"width":"6","height":"1","name":"","label":"Main Page URL :","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":240,"wires":[]},{"id":"f9bfb192.33c39","type":"ui_gauge","z":"1b8e042d.9c8f6c","name":"","group":"2f3a0665.46bd5a","order":6,"width":"0","height":"0","gtype":"gage","title":"Sentiment score","label":"units","format":"{{value}}","min":"-2","max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":840,"y":340,"wires":[]},{"id":"e7b1f4ed.5219a8","type":"function","z":"1b8e042d.9c8f6c","name":"retrival","func":"msg.payload=\n[\n    {\n        \"series\":[\"News\"],\n        \"data\":[msg.payload[0],msg.payload[1],msg.payload[2]],\n        \"labels\":[\"Positive\",\"Negative\",\"Neutral\"]\n    }\n]\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":540,"wires":[["736fc0db.4fa57"]]},{"id":"736fc0db.4fa57","type":"ui_chart","z":"1b8e042d.9c8f6c","name":"","group":"2f3a0665.46bd5a","order":8,"width":"0","height":"0","label":"Garphical Representation :","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1020,"y":480,"wires":[[]]},{"id":"9d4c7813.86c028","type":"function","z":"1b8e042d.9c8f6c","name":"sentiment","func":"var val=[msg.search_results.aggregations[0].results[0].matching_results];\nval.push(msg.search_results.aggregations[0].results[1].matching_results);\nval.push(msg.search_results.aggregations[0].results[2].matching_results);\nmsg.payload=val;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":500,"wires":[["e7b1f4ed.5219a8"]]},{"id":"2f3a0665.46bd5a","type":"ui_group","z":"","name":"Using WATSON","tab":"64857bf5.fd2e44","order":1,"disp":true,"width":"6","collapse":false},{"id":"64857bf5.fd2e44","type":"ui_tab","z":"","name":"News search APP","icon":"dashboard","order":2,"disabled":false,"hidden":false}]